<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Create</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Student create form</h1>

<form action="#" th:action="@{student/create}" th:object="${student}" method="POST">
    <p>FirstName: <input type="text" th:field="*{firstName}"/></p>
    <p>LastName: <input type="text" th:field="*{lastName}"/></p>
    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p>Phone: <input type="text" th:field="*{phone}"/></p>
    <p><input type="submit" value="Create"/>
        <input type="reset" value="Reset"/>
    </p>
</form>
</body>
</html>